<div class="flat-title">
  <h1><%= @flat.name  %></h1>
  <h2><%= @flat.address %></h2>
</div>
<div class="flat-description">
  <h3>A bit more about this place</h3>
  <p><%= @flat.description %></p>
</div>
